<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chao.dao.UserMessageMapper">
  <resultMap id="BaseResultMap" type="com.chao.model.UserMessage">
    <result column="userId" jdbcType="INTEGER" property="userid" />
    <result column="group_id" jdbcType="INTEGER" property="groupId" />
    <result column="updater_id" jdbcType="INTEGER" property="updaterId" />
    <result column="new_user_id" jdbcType="INTEGER" property="newUserId" />
    <result column="message_time" jdbcType="TIMESTAMP" property="msgTime"/>
  </resultMap>
  <insert id="insert" parameterType="com.chao.model.UserMessage">
    insert into user_message (userId, group_id, updater_id,
      new_user_id)
    values (#{userid,jdbcType=INTEGER}, #{groupId,jdbcType=INTEGER}, #{updaterId,jdbcType=INTEGER},
      #{newUserId,jdbcType=INTEGER})
  </insert>
  <select id="selectbyuserid"  parameterType="INTEGER" resultType="com.chao.model.UserMessage" resultMap="BaseResultMap">
    select * from user_message where userId = #{userId,jdbcType=INTEGER}
  </select>

  <select id="selectbygroupid"  parameterType="INTEGER" resultType="com.chao.model.UserMessage" resultMap="BaseResultMap">
    select * from user_message where group_id = #{groupId,jdbcType=INTEGER}
  </select>

  <select id="selectbyupdateidgroupid" parameterType="INTEGER" resultType="com.chao.model.UserMessage" resultMap="BaseResultMap">
    select * from user_message where updater_id = #{updaterId,jdbcType=INTEGER}
    and group_id = #{groupId,jdbcType=INTEGER}
    and new_user_id is not null
  </select>

  <select id="selectbynewuseridgroupid" parameterType="INTEGER" resultType="String">
    select T1.user from user_login T1
    left join user_message T2
    on T2.updater_id = T1.user_id
    where new_user_id = #{newUserId,jdbcType=INTEGER}
    and group_id = #{groupId,jdbcType=INTEGER} limit 1
  </select>
<!--  <insert id="insertSelective" parameterType="com.chao.model.UserMessage">-->
<!--    insert into user_message-->
<!--    <trim prefix="(" suffix=")" suffixOverrides=",">-->
<!--      <if test="userid != null">-->
<!--        userId,-->
<!--      </if>-->
<!--      <if test="groupId != null">-->
<!--        group_id,-->
<!--      </if>-->
<!--      <if test="updaterId != null">-->
<!--        updater_id,-->
<!--      </if>-->
<!--      <if test="newUserId != null">-->
<!--        new_user_id-->
<!--      </if>-->
<!--    </trim>-->
<!--    <trim prefix="values (" suffix=")" suffixOverrides=",">-->
<!--      <if test="userid != null">-->
<!--        #{userid,jdbcType=INTEGER},-->
<!--      </if>-->
<!--      <if test="groupId != null">-->
<!--        #{groupId,jdbcType=INTEGER},-->
<!--      </if>-->
<!--      <if test="updaterId != null">-->
<!--        #{updaterId,jdbcType=INTEGER},-->
<!--      </if>-->
<!--      <if test="newUserId != null">-->
<!--        #{newUserId,jdbcType=INTEGER}-->
<!--      </if>-->
<!--    </trim>-->
<!--  </insert>-->
</mapper>